
.main-container-patient{
    min-height: 100vh;
    background-image: url(../../images/vista_paciente.jpg);
    background-size: cover;
    background-position: center;
}

.main-data_patient{
  padding: 0.5em;
    color: white;
    background-color: #679EF5;
}

.container_patient{
    min-height: 100vh;
    background-image: url(../../images/appointment_patient.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apm_patient{
    background-color: #F5F0ED;
    opacity: 0.95;
    height: 80vh;
    width: 80%;
    padding: 1em;
    overflow: scroll;
}

.apm_patient::-webkit-scrollbar {
    -webkit-appearance: none;
}

.apm_patient::-webkit-scrollbar:vertical {
    width:10px;
}

.apm_patient::-webkit-scrollbar-button:increment,.apm_patient::-webkit-scrollbar-button {
    display: none;
} 

.apm_patient::-webkit-scrollbar:horizontal {
    height: 10px;
}

.apm_patient::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.apm_patient::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.apm_h1{
    margin-top: 2em;
}

/*Mis historias clinicas*/
.main-container-records{
    background-image:url(../../images/mis_historias.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-access{
    background-image:url(../../images/acesss.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body-records, .main-body-access{
    background-color: antiquewhite;
    opacity: 0.80;
    padding: 1em;
    width: 50%;
}

.main-body-records{
    width: 80%;
}

.main-body-access{
    background-color:#77D5CB;
    opacity: 0.70;
    width: 40%;
}

/*OTORGAR ACCESO*/
.contents_access{
    display: grid;
    grid-template-columns: 5fr, auto;
}

.confirm_box{
    width: 100%;
    display: block;
    background-color: #e4e4e4;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}


